# Dataset CSVs (too large, download from Kaggle)
*.csv

# Python cache
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

# Jupyter
*.ipynb

# Environment
.env
venv/
env/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.pyc
